@import "variables.css";

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
}


ul {
   padding-left: 0;
   margin: 0;
   list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@import "blocks/header.css";
@import "blocks/container.css";
@import "blocks/main-info.css";
@import "blocks/post.css";
@import "blocks/footer.css";
@import "blocks/download.css";
@import "blocks/share.css";